<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IceCreamManager.Properties.Requirements" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IceCreamManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <IceCreamManager.Properties.Requirements>
            <setting name="MaxCityNameLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxCityLabelLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxInventoryItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxInventoryDefaultItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinItemLifetime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxItemLifetime" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="MaxCacheHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCacheMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxCacheSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinCityLabelLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinCityNameLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinCityStateLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxCityStateLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinCityMiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCityMiles" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MinCityHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCityHours" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MaxRouteCities" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinItemNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxItemNumber" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinItemPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxItemPrice" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MinItemDescriptionLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxItemDescriptionLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinItemQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxItemQuantity" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinDriverNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDriverNumber" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinDriverNameLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDriverNameLength" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinDriverHourlyRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDriverHourlyRate" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MaxRouteNumber" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinRouteNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinTruckNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxTruckNumber" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinTruckFuelRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTruckFuelRate" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="ZeroFillNumberLength" serializeAs="String">
                <value>4</value>
            </setting>
        </IceCreamManager.Properties.Requirements>
    </applicationSettings>
    <userSettings>
        <IceCreamManager.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>$</value>
            </setting>
        </IceCreamManager.Properties.Settings>
    </userSettings>
</configuration>