<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IceCreamManager.Properties.Requirements" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IceCreamManager.Properties.Requirements" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IceCreamManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <IceCreamManager.Properties.Requirements>
            <setting name="MaxNumber" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="MinNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxPrice" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MinPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDescription" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxNameLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxLabelLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxDefaultItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinLifetime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxLifetime" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="MaxCacheHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxCacheMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxCacheSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinLabelLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinNameLength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZeroFillNumberLength" serializeAs="String">
                <value>4</value>
            </setting>
        </IceCreamManager.Properties.Requirements>
    </applicationSettings>
    <userSettings>
        <IceCreamManager.Properties.Requirements>
            <setting name="MinStateLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxStateLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinFuelCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxFuelCost" serializeAs="String">
                <value>99.99</value>
            </setting>
            <setting name="MinHourCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxHourCost" serializeAs="String">
                <value>99.99</value>
            </setting>
        </IceCreamManager.Properties.Requirements>
        <IceCreamManager.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>$</value>
            </setting>
        </IceCreamManager.Properties.Settings>
    </userSettings>
</configuration>